[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-microservices-DevTallers/client-gateway
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-microservices-DevTallers/orders-microservice
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-microservices-DevTallers/products-microservice